@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');

body {
    font-family: "Merriweather", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    background: #ffdab9;
    text-align: center;
    margin: 0;
    padding: 0;
}

/*--------- Navbar section ----------*/

.navbar {
    background-color: #e77728;
}

.navbar-nav li a {
    margin: 0 3rem;
    color: #fff;
    letter-spacing: 1px;  
}

.navbar-nav li a:hover {
    background-color: #f9b81d;
}

/*--------- Cebu Logo ----------*/

.cebu-logo {
    width: 300px;
    height: 100px;
    padding: 0 1rem 1rem;
    margin: 0 0.5rem;
}

/*--------- Jumbotron Header ----------*/

.jumbotron {
    background-image: url("../images/sinulogpic.jpg");
    background-size: cover;
}

.welcome-to-cebu {
    margin: 1.5rem 0;
    font-size: 3.5rem;
    font-style: oblique;
    font-weight: 900;
    background-color: #ffdab9;
    opacity: 0.9;   
}

/*--------- Intro section text ----------*/

.mabuhay-title {
    
    font-size: 3rem;
    font-weight: 700;
    margin-left: 2.5rem 0;
}

.visit-intro {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
}

/*--------- Bordering / Feature Section ----------*/

.feature-border {
   padding:0.25rem;
   margin: 1.75rem 0;
   border:0.25rem solid #e77728;
   background-color:#f9b81d;
   width:  75%;
   height: 75%;
   background-size: cover;
   object-position: center center;
}

.feature-margin {
    padding-top: 1rem;
    margin-top: 1.5rem;
}

.h3-text {
    margin-top: 0.90rem;
    margin-bottom: 1.5rem;
}

/*--------- Section text highlight ----------*/

  div .section-border{
  border: 2rem;
  padding: 2rem;
  background: #e77728;
  background-clip: padding-box;
  font-size: 1.75rem;
  font-weight: 900;
  color: #fff;
}

/*--------- Photos of Cebu / Gallery pics ----------*/

#gallery-pics img{
    width: 100%;
    height: 100%;
    padding: 3rem 2rem;
    object-fit: cover;
    object-position: center center;
    margin: 1rem 1rem;
  }

.ig-logo {
    margin: 1.5rem 0;
    height: 80px;
    width: 80px;
}

/*--------- Contact Form ----------*/
  
.margin-adjustment {
    margin: 5rem 0;
}

@media(min-width: 992px) {
    #center-form {
        min-height: 250px;
        margin: 0 auto;
        max-width: 60%;
        padding-bottom: 2rem;
        background: #f9b81d;
    }
}

/*--------- Footer ----------*/

.social-links {
    background-color: #e77728; 
}

.social-links li a {
    color: #fff;
}

.social-links li a:hover {
   background-color: #f9b81d;
}

.footer-margin {
    margin-top: 10rem;
}

div .footer-logo a img {
    width: 80px;
    height: auto;
    margin-bottom: 0.5rem;   
}

/*--------- Miscellaneous Color ----------*/

.co1 { 
    color: #f9b81d;
}

.co2 {   
    color: #e77728;
}

.co3 {   
    color: #ff1616;
}

/*--------- Button styling ----------*/

.feature-button {
    color: #fff;
    background-color: #f9b81d;
    margin-top: 2.5rem;
}

.feature-button1 {
    margin-top: 0;
}

.feature-button,.contact-button:hover {
    background-color: #e77728;
}

.contact-button {
    background-color: #fff;
    margin-top: 2.5rem;
}

/*--------- Experience Cebu text highlight ----------*/

 .experience-list {
  margin-top: 4rem;
  margin-bottom: 2rem;
  background: #e77728;

}

.photo-size1 {
    width: 70%;
    height: auto;
}

.photo-size2 {
    width: 100%;
    height: 100%;
}

.photo1 {
    margin: 4rem 0 2rem;
}

.cebu-paragraph {
    margin: 2.5rem 0;
}

/*--------- About me photo ----------*/

.about-me { 
    width: 40%;
    height: 30%;
}

/*--------- Contact form ----------*/

#center-form {
  border-radius: 1.5rem;
  box-shadow: 0.5rem 0.5rem #fff;
  background-color: #f9b81d;
  padding: 2.5rem;
}

/*--------- Ready to visit section ----------*/

.cebuano-box {
    border-style: double;
    font-weight: 700;
    border-color: #f9b81d;
    background-color: #ff1616;
}

.list-group-item {
    background-color: #f9b81d;
}


/*--------- CSS code from embedgooglemap.net ----------*/

.mapouter {
    position: relative;
    text-align: center;
    max-width: 100%;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
}







