@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", sans-serif;
    background: #ffdab9;
    text-align: center;
}

.navbar {
    background-color: #e77728;
}

.navbar-nav li a {
    margin: 0 50px 0 10px;
    color: #fff;
    letter-spacing: 3px;
}

.navbar-nav li a:hover {
    background-color: #f9b81d;
}


.jumbotron {
  background-image: url("../images/sinulogpic.jpg");
  background-size: cover;
}


.welcome-to-cebu {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4rem;
    font-style: oblique;
    font-weight: bolder;
    background-color: #ffdab9;
    opacity: 0.9;
    
}


.co1 {
   
    color: #f9b81d;
}

.co2 {
    
    color: #e77728;
}

.co3 {
    
    color: #ff1616;
}


.mabuhay-title {
    background-color: #f9b81d;
    color: #ff1616;
    font-weight: bold;
}

.h3-text {
    color: #fff;
    

    
}

.feature-border {
   padding:1px;
   border:1px solid #e77728;
   background-color:#f9b81d;
}

.feature-button {
    color: #fff;
    background-color: #e77728;
}

.feature-button:hover {
    background-color: #f9b81d;
}

h2 {
    background-color:#e77728;
}

.social-links {
    background-color: #e77728; 
}

.social-links li a {
    color: #fff;
}

.social-links li a:hover {
   background-color: #f9b81d;
}

.form-border {
    border-style: solid #fff;
    background-color: #f9b81d;
    padding: 10 20 10 20;   
}

#gallery-pics {
    margin: 2px 2px 10px 2px;
}

.instagram-link i {
    height: 80rem;
    width: 80rem;
}

.ig-logo {
    height: 100px;
    width: 100px;
}

#main-form {
    padding: 10px 50px 10px 50px;
    
}