@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
    font-family: "Merriweather", sans-serif;
    background: #ffdab9;
    text-align: center;
    margin: 0;
    padding: 0;
}

/*--------- Navbar section ----------*/

.navbar {
    background-color: #e77728;
}

.navbar-nav li a {
    margin: 0 50px 0 10px;
    color: #fff;
    letter-spacing: 3px;   
}

.navbar-nav li a:hover {
    background-color: #f9b81d;
}

/*--------- Cebu Logo ----------*/

.cebu-logo {
    width: 80%;
    padding-left: -50px;
}

/*--------- Jumbotron Header ----------*/

.jumbotron {
    background-image: url("../images/sinulogpic.jpg");
    background-size: cover;
}

.welcome-to-cebu {
    margin: 20px 0;
    font-size: 4rem;
    font-style: oblique;
    font-weight: bolder;
    background-color: #ffdab9;
    opacity: 0.9;   
}

/*--------- Intro section text ----------*/

.mabuhay-title {
    
    font-size: 50px;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 50px;
}

/*--------- Section text highlight ----------*/

  div .section-border{
  border: 20px;
  padding: 20px;
  background: #e77728;
  background-clip: padding-box;
  font-size: 2rem;
  font-weight: bolder;
  color: #fff;
}

/*--------- Experience Cebu text highlight ----------*/

 .experience-list {
  margin-top: 4rem;
  margin-bottom: 2rem;
  background: #e77728;

}

/*--------- Photos of Cebu / Gallery pics ----------*/

#gallery-pics img{
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    object-fit: cover;
    object-position: center center;
    margin: 10px 10px;
  }

.instagram-link i {
    height: 80rem;
    width: 80rem;
}

.ig-logo {
    margin: 1rem 0;
    height: 100px;
    width: 100px;
}

/*--------- Contact Form ----------*/
  
.margin-adjustment {
    margin: 5rem 0;
}

@media(min-width: 992px) {
    #center-form {
        min-height: 250px;
        margin: 0 auto;
        max-width: 60%;
        padding-bottom: 20px;
        background: #f9b81d;
    }
}

/*--------- Footer ----------*/

.social-links {
    background-color: #e77728; 
}

.social-links li a {
    color: #fff;
}

.social-links li a:hover {
   background-color: #f9b81d;
}

.footer-margin {
    margin-top: 10rem;
}

div .footer-logo a img {
    width: 80px;
    height: auto;
    margin-bottom: 5px;   
}

/*--------- Miscellaneous Color ----------*/

.co1 { 
    color: #f9b81d;
}

.co2 {   
    color: #e77728;
}

.co3 {   
    color: #ff1616;
}

/*--------- Button styling ----------*/

.feature-button {
    color: #fff;
    background-color: #e77728;
}

.feature-button:hover {
    background-color: #f9b81d;
}

/*--------- Bordering / Feature Section ----------*/

.feature-border {
   padding:3px;
   margin: 15px 0;
   border:1px solid #e77728;
   background-color:#f9b81d;
   width:  75%;
   height: 75%;
   background-size: cover;
   object-position: center center;
}

.feature-text2 {
    margin: 20px 0;
}









